<input type='hidden' id='viewname' value='user.show'>
<div id='pageheader'>
  <%= link_to '戻る', dashboad_show_path, id: 'back' %>
  <span id='pagetitle'>パスワード区分一覧</span><br />
</div>
<br class='clear' />
<div id='memberlist'>
  <%= render partial: 'layouts/user', collection: @users %>
</div>