<input type='hidden' id='viewname' value='member'>
<div id='pageheader'>
<%= link_to '戻る', joinus_path, id: 'back' %>
<span id='pagetitle'>参加しましょう</span><br />
</div>
<div id='msgarea'>
<span id='message'><%= @ctl.message %></span>
</div>
<br class='clear' />
<div class='label'><span>メンバーリスト</span></div>
<div id='memberlist'>
<%= render partial: 'layouts/member', collection: @members %>
</div>