// Place all the styles related to the joinus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#pageheader {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#pageheader #back {
    width:45px;
    height: 24px;
    margin-left: auto;
    margin-right: 10px;
}

#pageheader #pagetitle {
    width: 500px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

#pageheader #atdname {
    width: 500px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px
}

#pageheader #btnatend {
    width:45px;
    height: 24px;
}

#pageheader .btnfunc {
    width:45px;
    height: 24px;
}

#btnarea {
    width: 600px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: space-evenly;
}

#btnarea .btnmsg {
    width:70px;
    height: 24x;
    float: left;
}

.clear {
    height: 4px;
    clear: both;
}

#txtarea {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}

#msgarea {
    width: 600px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    text-align: center;
}

#memberlist {
    width:600px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.mbrname {
    width: 120px;
    height: 40px;
    float: left;
}

.mbrname4crud {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 24px;
    position: relative;
}

.editname {
    position: absolute;
    left: 5px;
}
.editfunc {
    position: absolute;
    right: 5px;
}
.fieldlong {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 24px;
    position: relative;
}

.field {
    width: 300px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.fieldname {
    position: absolute;
    left: 5px;
}
.fieldvalue {
    position: absolute;
    right: 5px;
    text-align: center;
}
.msgfield {
    width: 260px;
    position: absolute;
    right: 5px;
    text-align: center;
}

#ninzu #qabox {
}

#ninzu #ans {
    text-align: center;
}

#ninzu #submit {
    margin-left: 10px;
}

#funclist {
    width:400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
}

#simplelist {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#atdlist {
    width:600px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
}
#atdlist .mbr {
    width: 120px;
    height: 40px; 
    float: left;
}
